#windows update borrowed from chris titus tech winutil security option for window updates
HKLM:\SOFTWARE\Policies\Microsoft\Windows\Device Metadata,PreventDeviceMetadataFromNetwork,1,DWord,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\DriverSearching,DontPromptForWindowsUpdate,1,DWord,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\DriverSearching,DontSearchWindowsUpdate,1,DWord,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\DriverSearching,DriverUpdateWizardWuSearchEnabled,0,DWord,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate,ExcludeWUDriversInQualityUpdate,1,DWord,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate\AU,NoAutoRebootWithLoggedOnUsers,1,DWord,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate\AU,AUPowerManagement,0,DWord,0
HKLM:\SOFTWARE\Microsoft\WindowsUpdate\UX\Settings,BranchReadinessLevel,20,DWord,1
HKLM:\SOFTWARE\Microsoft\WindowsUpdate\UX\Settings,DeferFeatureUpdatesPeriodInDays,365,DWord,1
HKLM:\SOFTWARE\Microsoft\WindowsUpdate\UX\Settings,DeferQualityUpdatesPeriodInDays,4,DWord,1
#disable gamedvr
HKCU:\System\GameConfigStore,GameDVR_FSEBehavior,2,DWord,1
HKCU:\System\GameConfigStore,GameDVR_Enabled,0,DWord,1
HKCU:\System\GameConfigStore,GameDVR_DXGIHonorFSEWindowsCompatible,1,DWord,0
HKCU:\System\GameConfigStore,GameDVR_HonorUserFSEBehaviorMode,1,DWord,0
HKCU:\System\GameConfigStore,GameDVR_EFSEFeatureFlags,0,DWord,1
#disable hibernate
HKLM:\System\CurrentControlSet\Control\Session Manager\Power,HibernateEnabled,0,DWord,1
HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FlyoutMenuSettings,ShowHibernateOption,0,DWord,1
#WPFEssTweaksAH
HKLM:\SOFTWARE\Policies\Microsoft\Windows\System,EnableActivityFeed,0,DWord,1
HKLM:\SOFTWARE\Policies\Microsoft\Windows\System,PublishUserActivities,0,DWord,1
HKLM:\SOFTWARE\Policies\Microsoft\Windows\System,UploadUserActivities,0,DWord,1
#disable bing maps
HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\CapabilityAccessManager\ConsentStore\location,Value,String,Deny
HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Sensor\Overrides\{BFA794E4-F964-4FDB-90F6-51056BFE4B44},SensorPermissionState,Dword,0
HKLM:\SYSTEM\CurrentControlSet\Services\lfsvc\Service\Configuration,Status,Dword,0
HKLM:\SYSTEM\Maps,AutoUpdateEnabled,Dword,0
#disable telemetry
HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\DataCollection,AllowTelemetry,0,Dword,1
HKLM:\SOFTWARE\Policies\Microsoft\Windows\DataCollection,AllowTelemetry,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,ContentDeliveryAllowed,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,OemPreInstalledAppsEnabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,PreInstalledAppsEnabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,PreInstalledAppsEverEnabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,SilentInstalledAppsEnabled,0,Dword,1
HKCU:\Software\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,SubscribedContent-338387Enabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,SubscribedContent-338388Enabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,SubscribedContent-338389Enabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,SubscribedContent-353698Enabled,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager,SystemPaneSuggestionsEnabled,0,Dword,1
HKLM:\SOFTWARE\Policies\Microsoft\Windows\CloudContent,DisableWindowsConsumerFeatures,1,Dword,0
HKCU:\SOFTWARE\Microsoft\Siuf\Rules,NumberOfSIUFInPeriod,0,Dword,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\DataCollection,DoNotShowFeedbackNotifications,1,Dword,0
HKCU:\SOFTWARE\Policies\Microsoft\Windows\CloudContent,DisableTailoredExperiencesWithDiagnosticData,1,Dword,0
HKLM:\SOFTWARE\Policies\Microsoft\Windows\AdvertisingInfo,DisabledByGroupPolicy,1,Dword,0
HKLM:\SOFTWARE\Microsoft\Windows\Windows Error Reporting,Disabled,1,Dword,0
HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\DeliveryOptimization\Config,DODownloadMode,1,Dword,1
HKLM:\SYSTEM\CurrentControlSet\Control\Remote Assistance,fAllowToGetHelp,0,Dword,1 
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\OperationStatusManager,EnthusiastMode,1,Dword,0
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced,ShowTaskViewButton,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced\People,PeopleBand,0,Dword,1
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\Advanced,LaunchTo,1,Dword,1
HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem,LongPathsEnabled,1,Dword,0
HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\DriverSearching,SearchOrderConfig,1,Dword,1
HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile,SystemResponsiveness,0,Dword,1
HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile,NetworkThrottlingIndex,4294967295,Dword,1
HKCU:\Control Panel\Desktop,MenuShowDelay,1,Dword,1
HKCU:\Control Panel\Desktop,AutoEndTasks,1,Dword,1
HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Memory Management,ClearPageFileAtShutdown,0,Dword,0
HKLM:\SYSTEM\ControlSet001\Services\Ndu,Start,4,Dword,1
HKCU:\Control Panel\Mouse,MouseHoverTime,400,String,400
HKLM:\SYSTEM\CurrentControlSet\Services\LanmanServer\Parameters,IRPStackSize,30,Dword,20
HKCU:\SOFTWARE\Policies\Microsoft\Windows\Windows Feeds,EnableFeeds,0,Dword,1
HKCU:\Software\Microsoft\Windows\CurrentVersion\Feeds,ShellFeedsTaskbarViewMode,2,Dword,1
HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer,HideSCAMeetNow,1,Dword,1
HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games,GPU Priority,8,Dword,1
HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games,Priority,6,Dword,1
HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games,Scheduling Category,High,String,High
#disable hotspot
HKLM:\Software\Microsoft\PolicyManager\default\WiFi\AllowWiFiHotSpotReporting,Value,0,DWord,1
HKLM:\Software\Microsoft\PolicyManager\default\WiFi\AllowAutoConnectToWiFiSenseHotspots,Value,0,DWord,1
#power tweak
HKLM:\SYSTEM\CurrentControlSet\Control\Power\PowerThrottling,PowerThrottlingOff,00000001,DWord,00000000
HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Power,HiberbootEnabled,0000000,DWord,00000001
#keyboard tweak
#HKU:\.DEFAULT\Control Panel\Keyboard,InitialKeyboardIndicators,80000002,DWord,1
#other tweaks
HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,HideFileExt,0,DWord,1
HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,Hidden,1,DWord,1
#disable widgets on taskbar
HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,TaskbarDa,0,DWord,0
#disable chat on taskbar
HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,TaskbarMn,0,DWord,0
#laptop power tweaks, enable if installing this on a laptop
#HKLM:\SYSTEM\CurrentControlSet\Control\Power\PowerThrottling,PowerThrottlingOff,00000000,DWord,00000001
#HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager\Power,HiberbootEnabled,0000001,DWord,0000000
#laptop numpad tweak
#HKU:\.DEFAULT\Control Panel\Keyboard,InitialKeyboardIndicators,0,DWord,1
#HKU:\.DEFAULT\Control Panel\Keyboard,InitialKeyboardIndicators,80000002,DWord,1
#enable desktop Remote
HKLM:\SYSTEM\CurrentControlSet\Control\Terminal Server,fDenyTSConnections,0,DWord,0
#ADDNEWITEMS#
#Disabling driver offering through Windows Update
HKLM:\SOFTWARE\Policies\Microsoft\Windows\Device Metadata,RegistryKey,1
#Start steam instead of windows explorer for gaming NetSetupSvc
#HKEY_CURRENT_USER\Software\Microsoft\WindowsNT\CurrentVersion\Winlogon,shell,"C:\Program Files (x86)\Steam\Steam.exe -gamepadui -",String
#REMOVEITEMS#
HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\StorageSense\Parameters\StoragePolicy,,