#servuce,startuptype
AJRouter,Manual
ALG,Manual
AppIDSvc,Manual
AppMgmt,Manual
AppReadiness,Manual
AppVClient,Disabled
AppXSvc,Manual
Appinfo,Manual
AssignedAccessManagerSvc,Manual
AudioEndpointBuilder,Automatic
AudioSrv,Automatic
Audiosrv,Automatic
AxInstSV,Manual
BDESVC,Manual
#BFE,Automatic
BITS,Automatic
BTAGService,Manual
BcastDVRUserService_dc2a4,Manual
BluetoothUserService_dc2a4,Manual
BrokerInfrastructure,Automatic
Browser,Manual
BthAvctpSvc,Manual
BthHFSrv,Manual
CDPSvc,Manual
CDPUserSvc_dc2a4,Automatic
COMSysApp,Manual
CaptureService_dc2a4,Manual
CertPropSvc,Manual
ClipSVC,Manual
ConsentUxUserSvc_dc2a4,Automatic
CoreMessagingRegistrar,Automatic
CredentialEnrollmentManagerUserSvc_dc2a4,Manual
CryptSvc,Automatic
CscService,Manual
DPS,Automatic
DcomLaunch,Automatic
DcpSvc,Manual
DevQueryBroker,Manual
DeviceAssociationBrokerSvc_dc2a4,Manual
DeviceAssociationService,Manual
DeviceInstall,Manual
DevicePickerUserSvc_dc2a4,Manual
DevicesFlowUserSvc_dc2a4,Manual
Dhcp,Automatic
DiagTrack,Disabled
DialogBlockingService,Disabled
DispBrokerDesktopSvc,Manual
DisplayEnhancementService,Manual
DmEnrollmentSvc,Manual
Dnscache,Automatic
DoSvc,DelayedAuto
DsSvc,Manual
DsmSvc,Manual
DusmSvc,Automatic
EFS,Manual
EapHost,Manual
EntAppSvc,Manual
EventLog,Automatic
EventSystem,Automatic
FDResPub,Manual
Fax,Manual
FontCache,Automatic
FrameServer,Manual
FrameServerMonitor,Manual
GraphicsPerfSvc,Manual
HomeGroupListener,Manual
HomeGroupProvider,Manual
HvHost,Manual
IEEtwCollectorService,Manual
IKEEXT,Manual
InstallService,Manual
InventorySvc,Manual
IpxlatCfgSvc,Manual
KeyIso,Manual
KtmRm,Manual
LSM,Automatic
LanmanServer,Automatic
LanmanWorkstation,Automatic
LicenseManager,Manual
LxpSvc,Manual
MSDTC,Manual
MSiSCSI,Manual
MapsBroker,DelayedAuto
McpManagementService,Manual
MessagingService_dc2a4,Manual
MicrosoftEdgeElevationService,Manual
MixedRealityOpenXRSvc,Manual
MpsSvc,Automatic
MsKeyboardFilter,Disabled
NPSMSvc_dc2a4,Manual
NaturalAuthentication,Manual
NcaSvc,Manual
NcbService,Manual
NcdAutoSetup,Manual
NetSetupSvc,Manual
NetTcpPortSharing,Disabled
Netlogon,Manual
Netman,Manual
NgcCtnrSvc,Manual
NgcSvc,Manual
NlaSvc,Manual
OneSyncSvc_dc2a4,Automatic
P9RdrService_dc2a4,Manual
PNRPAutoReg,Manual
PNRPsvc,Manual
PcaSvc,Manual
PeerDistSvc,Manual
PenService_dc2a4,Manual
PerfHost,Manual
PhoneSvc,Manual
PimIndexMaintenanceSvc_dc2a4,Manual
PlugPlay,Manual
PolicyAgent,Manual
Power,Auto
PrintNotify,Manual
PrintWorkflowUserSvc_dc2a4,Manual
ProfSvc,Auto
PushToInstall,Manual
QWAVE,Manual
RasAuto,Manual
RasMan,Manual
RemoteAccess,Disabled
RemoteRegistry,Disabled
RetailDemo,Manual
RmSvc,Manual
RpcEptMapper,Auto
RpcLocator,Manual
RpcSs,Auto
SCPolicySvc,Manual
SCardSvr,Disabled
SDRSVC,Manual
SEMgrSvc,Manual
SENS,Auto
SNMPTRAP,Manual
SNMPTrap,Manual
SSDPSRV,Manual
SamSs,Auto
ScDeviceEnum,Manual
Schedule,Auto
SecurityHealthService,Manual
Sense,Manual
SensorDataService,Manual
SensorService,Manual
SensrSvc,Manual
SessionEnv,Manual
SgrmBroker,Auto
SharedAccess,Manual
SharedRealitySvc,Manual
ShellHWDetection,Auto
SmsRouter,Manual
Spooler,Disabled
SstpSvc,Manual
StateRepository,Manual
StiSvc,Manual
StorSvc,Manual
SysMain,Auto
SystemEventsBroker,Auto
TabletInputService,Manual
TapiSrv,Manual
#enable remote
TermService,Automatic
TextInputManagementService,Auto
Themes,Auto
TieringEngineService,Manual
TimeBroker,Manual
TimeBrokerSvc,Manual
TokenBroker,Manual
TrkWks,Auto
TroubleshootingSvc,Manual
TrustedInstaller,Manual
UI0Detect,Manual
UdkUserSvc_dc2a4,Manual
UevAgentService,Disabled
UmRdpService,Manual
UnistoreSvc_dc2a4,Manual
UserDataSvc_dc2a4,Manual
UserManager,Auto
UsoSvc,Manual
VGAuthService,Auto
VMTools,Auto
VSS,Manual
VacSvc,Manual
VaultSvc,Manual
W32Time,Manual
WEPHOSTSVC,Manual
WFDSConMgrSvc,Manual
WMPNetworkSvc,Manual
WManSvc,Manual
WPDBusEnum,Manual
WSService,Manual
WSearch,DelayedAuto
WaaSMedicSvc,Manual
WalletService,Manual
WarpJITSvc,Manual
WbioSrvc,Manual
Wcmsvc,Auto
WcsPlugInService,Manual
WdNisSvc,Manual
WdiServiceHost,Manual
WdiSystemHost,Manual
WebClient,Manual
Wecsvc,Manual
WerSvc,Manual
WiaRpc,Manual
WinDefend,Auto
WinHttpAutoProxySvc,Manual
WinRM,Manual
Winmgmt,Auto
WlanSvc,Auto
WpcMonSvc,Manual
WpnService,Manual
WpnUserService_dc2a4,Auto
WwanSvc,Manual
XblAuthManager,Manual
XblGameSave,Manual
XboxGipSvc,Manual
XboxNetApiSvc,Manual
autotimesvc,Manual
bthserv,Manual
camsvc,Manual
cbdhsvc_dc2a4,Automatic
cloudidsvc,Manual
dcsvc,Manual
defragsvc,Manual
diagnosticshub.standardcollector.service,Manual
diagsvc,Manual
dmwappushservice,Disabled
dot3svc,Manual
edgeupdate,Auto
edgeupdatem,Manual
embeddedmode,Manual
fdPHost,Manual
fhsvc,Manual
gpsvc,Auto
hidserv,Manual
icssvc,Manual
iphlpsvc,Auto
lfsvc,Manual
lltdsvc,Manual
lmhosts,Manual
mpssvc,Auto
msiserver,Manual
netprofm,Manual
nsi,Auto
p2pimsvc,Manual
p2psvc,Manual
perceptionsimulation,Manual
pla,Manual
seclogon,Manual
shpamsvc,Disabled
smphost,Manual
spectrum,Manual
sppsvc,DelayedAuto
ssh-agent,Disabled
svsvc,Manual
swprv,Manual
tiledatamodelsvc,Auto
tzautoupdate,Disabled
uhssvc,Disabled
upnphost,Manual
vds,Manual
vm3dservice,Auto
vmicguestinterface,Manual
vmicheartbeat,Manual
vmickvpexchange,Manual
vmicrdv,Manual
vmicshutdown,Manual
vmictimesync,Manual
vmicvmsession,Manual
vmicvss,Manual
vmvss,Manual
wbengine,Manual
wcncsvc,Manual
webthreatdefsvc,Manual
webthreatdefusersvc_dc2a4,Auto
wercplsupport,Manual
wisvc,Manual
wlidsvc,Manual
wlpasvc,Manual
wmiApSrv,Manual
workfolderssvc,Manual
wscsvc,DelayedAuto
wuauserv,Manual
wudfsvc,Manual
Appraiser,Disabled
ProgramDataUpdater,Disabled
Proxy,Disabled
Consolidator,Disabled
UsbCeip,Disabled
DiskDiagnosticDataCollector,Disabled
DmClient,Disabled
DmClientOnScenarioDownload,Disabled
QueueReporting,Disabled